body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.header {
  background-color: black;
  /* padding: 15px 0; */
  border-bottom: 1px solid #eee;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .brand {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}
.brand{
  font-size: 20px;
  font-weight: bold;
  color: #007bff; 
}

.header .nav-links a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

.header .nav-links a:hover {
  text-decoration: underline;
}

.header .subscribe-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.header .subscribe-btn:hover {
  background-color: #0069d9;
}

.content {
  padding: 30px;
}

.article-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.article-header .author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.article-header .author-info {
  display: flex;
  flex-direction: column;
}

.article-header .author-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.article-header .author-role {
  font-size: 14px;
  color: #6c757d;
}

.article-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.article-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6c757d;
}

.article-info .category {
  margin-right: 10px;
}

.article-info .read-time {
  margin-left: 10px;
}

.article-content {
  margin-bottom: 30px;
}

.article-content img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.latest-articles-header {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.latest-articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.article-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.article-card .article-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.article-card .article-info {
  font-size: 12px;
  color: #6c757d;
}

.show-more {
  display: block;
  text-align: right;
  margin-top: 20px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.show-more:hover {
  text-decoration: underline;
}

#dev-container{
  display: flex;
  justify-content: center;
}
#dev-div{
  margin: 10px;
  max-width: 800px;
}

@media (max-width: 768px) {
  .article-card {
      width: 100%;
  }
}
.large-card-news{
  width: 30rem;
}
.card-item{
  max-width: 540px;
}
